
.font-family
  font-family: Merriweather Sans, sans-serif

.padding-header-r
  padding: 0 2%

.link-nav-r
  display: block
  text-decoration: none
  cursor: pointer
  font-size: 11px
  font-weight: 400
  text-transform: uppercase
  color: #7e7e7e
  margin: 0 2%

  &:first-of-type
    margin-left: 0

  &:last-of-type
    margin-right: 0

  &:hover
    color: #222222

.header-size
  min-height: 27px
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.header-r-top-left
  width: 50%
  display: flex
  justify-content: space-between


.header-r-top-right
  display: flex
  justify-content: space-between
  width: 30%

.header-r-top
  background-color: #f6f6f6

.header-r
  min-height: 100px

.logo-r
  display: flex
  align-items: center
  position: absolute
  top: 16px

.logo-r-text
  font-size: 44px
  font-weight: 400
  color: #454545
  margin-left: 4%

.header-r-flex
  display: flex
  justify-content: space-between

.header-r-top-input
  width: 100%

.button-search-r
  background-color: transparent
  border: 1px solid #e1e1e1
  border-left: none
  padding: 10px
  color: #888888
  cursor: pointer

  &:hover
    background-color: #888888
    color: white

.flex-form-search-r
  display: flex

.top-input
  width: 223px
  background-color: #ffffff
  border: 1px solid #e1e1e1
  border-right: none
  padding: 10px
  outline: none

.none-block
  position: relative

.header-r-left
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 1%
  padding: 0 2%

.advertising-right-item-bottom
  display: flex
  align-items: center
  justify-content: center

.header-r-nav
  display: flex
  justify-content: flex-end
  margin: 0 2%

.nav-r
  font-size: 14px
  color: #565656
  padding: 2%
  cursor: pointer

  &:hover
    color: #222222
    background-color: #ccc


  &:first-of-type
    margin-left: 0

  &:last-of-type
    margin-right: 0

.banner-full-page
  background-color: #ccc

.banner-flex
  display: flex
  justify-content: flex-end
  align-items: center
  min-height: 546px

.banner-r-content
  width: 50%

.advertising-flex
  display: flex
  justify-content: space-between

.advertising-left
  width: 60%

.advertising-right
  width: 38%

.advertising-left-top
  margin-bottom: 2%

.advertising-left-bottom
  display: flex
  justify-content: space-between


.advertising-left-top-item
  min-height: 430px
  margin-bottom: 3%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 2%

.advertising-left-bottom-left
  width: 48%

.advertising-left-bottom-left-item
  min-height: 250px
  margin-bottom: 6%

  &_center
    justify-content: center

  &_flex-display
    display: flex
    flex-direction: column
    align-items: center

  &:last-of-type
    margin-bottom: 0

.advertising-left-bottom-right-item
  min-height: 513px
  width: 48%

.item-color
  background-color: #ccc

.advertising-right-item-top
  margin-bottom: 5%
  min-height: 698px

.advertising-right-item-bottom
  min-height: 250px

.first-text-banner
  font-size: 30px
  font-weight: 700
  text-transform: uppercase
  color: #555555
  hyphens: auto

.main-text-banner
  font-size: 100px
  font-weight: 800
  text-transform: uppercase
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.05)
  color: #ffffff
  hyphens: auto
  line-height: 0.8em
  margin: 4% 0


.banner-info-text
  font-size: 35px
  font-weight: 700
  text-transform: uppercase
  color: #4c4c4c
  hyphens: auto
  margin-bottom: 8%

.banner-link
  display: block
  text-decoration: none
  cursor: pointer
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  color: #333333

  &:hover
    color: #ffffff

.advertising-left-top-content
  height: 210px
  width: 80%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  border: 1px solid rgba(255, 255, 255, 0.29)
  padding: 5%

  &_border-none
    border: none


.title-text-content-item
  font-size: 40px
  font-weight: 700
  text-transform: uppercase
  color: #ffffff
  text-align: center

  &_font-size
    font-size: 20px

.title-text-content-item_small
  font-size: 25px
  font-weight: 400
  text-transform: uppercase
  color: #ffffff
  text-align: center

  &_font-size
    font-size: 16px

  &_font-size-min
    font-size: 12px


.header-r-top-all
  display: none

.header-r-top-small
  display: none

.header-r-small
  display: none

.header-size-small
  display: flex
  justify-content: center
  width: 100%
  margin: 2% 0 4%

.small-login
  display: none
  margin: 2% 0

.header-r-nav-small
  display: none
  margin: 2%

.fas_margin
  margin-right: 10px

.text-decoration
  font-size: 16px
  color: #7e7e7e
  cursor: pointer
  font-weight: 600

  &:hover
    color: black

.arrow
  margin: 0 2%
  text-decoration: none
  cursor: pointer
  color: white
  display: block

  &:hover
    color: #222222


.icon-slider-style
  font-size: 39px
  cursor: pointer

.link-to-discount-r
  display: block
  text-decoration: none
  color: white
  font-size: 14px
  font-weight: 700
  text-transform: uppercase

  &:hover
    color: black

.item-center
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  flex: 1

  &_flex-fix
    justify-content: center

  &_flex-zero
    flex: 0


.item-center_space
  justify-content: center

.custom-banner
  width: 100%
  min-height: 0
  margin: 0
  display: none

.advertising-left-top-content-custom
  height: 100%
  width: 100%

.custom-link-margin
  margin-top: 2%

.black_text
  color: black

@media screen and (max-width: 880px)
  .banner-r-content
    width: 100%
    padding: 3%

@media screen and (max-width: 860px)
  .logo-r
    position: static
    top: 0
  .header-r-nav
    justify-content: space-between


@media screen and (max-width: 830px)
  .title-text-content-item
    font-size: 30px
  .title-text-content-item_small
    font-size: 15px
  .banner-r-content
    width: 100%
    padding: 2%

@media screen and (max-width: 724px)
  .header-r-top-left
    display: none

  .header-r-top-right
    display: none

  .header-r-top-all
    display: flex
    justify-content: space-between
    width: 100%

@media screen and (max-width: 640px)
  .header-r-top-all
    display: none

  .header-r-top-small
    display: flex
    justify-content: space-between
    width: 100%

  .header-r-small
    display: block

  .header-r-left
    flex-direction: column

  .small-login
    display: flex
    justify-content: center

  .flex-form-search-r
    width: 100%
    margin-bottom: 2%

  .top-input
    width: 100%

  .header-r-nav
    display: none

  .header-r-nav-small
    display: flex
    justify-content: space-between

  .banner-r-content
    display: none

  .banner-flex
    min-height: 170px

  .custom-banner
    display: block
  .first-text-banner
    font-size: 15px
    text-align: center

  .main-text-banner
    font-size: 50px
    text-align: center

  .banner-info-text
    font-size: 17px
    text-align: center

  .banner-link
    font-size: 10px
    text-align: center

  .banner-flex
    min-height: 178px

  .advertising-flex
    flex-wrap: wrap

  .advertising-left
    width: 100%

  .advertising-left-top-item
    min-height: 156px

  .advertising-left-bottom
    flex-wrap: wrap

  .advertising-left-bottom-left
    width: 100%

  .advertising-left-bottom-left-item
    min-height: 156px

    &:last-of-type
      margin-bottom: 4%

  .advertising-left-bottom-right-item
    width: 100%
    margin-bottom: 4%
    min-height: 400px


  .advertising-right
    width: 100%

  .advertising-right-item-top
    margin-bottom: 4%
    min-height: 156px

  .right-content
    flex-wrap: wrap

  .item
    width: 100%

  .custom-height
    height: auto

  .none-block-item
    display: none
  .item-center
    justify-content: center







