
.slider {
    height: 613px;
    background-color: #e8e8e8;
}

.slider-background {
    background: url(../img/slider.png) 0 -51px;
}

.slider-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.slider-element {
    display: flex;
}


.stick {
    background-color: #f16d7f;
    width: 12px;
    margin-right: 12px;
}

.slider-text-content {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: #222222;
    margin: 0;
}

.big-font-size {
    font-size: 60px;
}

.special-color {
    color: #f16d7f;
}

.category {
    height: 889px;
    margin-top: 100px;
}

.banner-content {
    display: flex;
    height: 100%;
}

.banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.banner-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    border: solid 1px white;
}

.banner:hover {
    transform: scale(1.1) translate(-50px, -50px);
    box-shadow: #f16d7f 0 0 15px;
    transition: 0.5s;
}

.banner-1 {
    background: url(../img/banner_1.png) no-repeat;
    height: 542px;
    margin-bottom: 20px;
}

.banner-2 {
    background: url(../img/banner_2.png) no-repeat;
    height: 261px;
}

.banner-3 {
    background: url(../img/banner_3.png) no-repeat;
    height: 261px;
    margin-bottom: 20px;
}

.banner-4 {
    background: url(../img/banner_4.png) no-repeat;
    height: 542px;

}

.banner:hover .badge {
    background-color: #f16d7f;

}

.banner:hover .badge-text-special {
    color: white;
}

.badge {
    background-color: #ffffff;
    display: inline-block;
    margin-top: 25px;
    padding: 15px 20px;
}

.badge-text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin: 0;
}

.badge-text-special {
    font-size: 30px;
    color: #f16d7f;
}


.feature {
    margin-top: 100px;
}

.feature-box {
    display: flex;
    justify-content: space-between;
    background: url(../img/feature.png) no-repeat;
}

.feature-left {
    margin-left: 40px;
}

.feature-info-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin: 0;
    padding-top: 5px;
}

.feature-info-info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.feature-text {
    font-size: 54px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 145px;
}

.feature-text-special {
    color: #f16d7f;
}

.feature-text-small {
    font-size: 32px;
    margin-top: 0;
    display: block;
}

.feature-right {
    max-width: 375px;
    background-color: #222224;
}

.ul-padding {
    padding: 40px 30px;
}

.feature-list {
    list-style-type: none;
}

ul .delivery-icon {
    background: url(../img/icon_delivery.png) no-repeat;
    padding-left: 80px;
}

ul .sales-icon {
    background: url(../img/icon_sales.png) no-repeat;
    padding-left: 80px;
}

ul .quality-icon {
    background: url(../img/icon_quality.png) no-repeat;
    padding-left: 80px;
}


.product-link-all:hover {
    background-color: white;
    color: #f16d7f;

}


.product-title {
    text-align: center;
}

.product-title-main {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    margin: 0;
}

.product-title-descriptions {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    margin-top: 15px;
    margin-bottom: 60px;

}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    text-decoration: none;
    display: block;
}

.card-fix {
    width: 263px;
    height: 280px;
}

.card-img-png {
    width: 100%;
}

.card-img-png-fix {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
}

.card-info-name {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 12px;
}

.card-info {
    padding: 15px;
}

.card-info-price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.product-link {
    display: flex;
    justify-content: center;
}

.product-link-all {
    font-size: 16px;
    background-color: #f16d7f;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 25px;
    margin-top: 20px;
    border: solid 1px #f16d7f;
}

.one-card {
    position: relative;
    margin-bottom: 40px;
}

.one-card-fix {
    height: 364px;
}
.one-card-fix-margin{
    margin-bottom: 0;
}

.price-and-rating {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #e4af48;

}

.focus-visible {
    display: none;
}

.one-card:hover .focus-visible {
    display: block;
}

.one-card:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.one-card:hover .box-add {
    display: flex;
}

.one-card:hover .card-img-png {
    filter: brightness(50%);
}

.box-add {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%;
}

.add {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.add:hover {
    box-shadow: 0 0 10px #fff;
}

.add-img {
    margin-right: 8px;
}

.add-text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}



